body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;               /* remove default margin */
  height: 100vh;           /* full viewport height */
  background-image: url('assets/background.png');
  background-size: cover;  /* cover whole screen */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#header {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

#logo {
  width: 40px;
  height: 40px;
}

#game-title {
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.shop-item {
  margin-top: 10px;

}

#stats {
  position: absolute;
  top: 60px;
  left: 30px;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  width: 100px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 100;
}

.tooltip-wrapper:hover::after {
  opacity: 1;
}

